.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f2f5;
}

.login-box {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  background: #fff;
  width: 350px;
}

.login-box h2 {
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 22px;
}

.login-form {
  display: flex;
  flex-direction: column;
}



.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-form button {
  padding: 10px;
  border-radius: 4px;
  border: none;
  background: #4CAF50;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background: #308d33;
}
